.recipe-img {
  border-radius: 20px;
  height: 300px;
}

.food-card {
  width: 300px;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.food-card-link {
  display: flex;
  overflow-wrap: break-word;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
